.icon-add {
    width: 16px;
    height: 16px;
    background-image: url('/content/icon/add.png');
    background-size:contain;
    background-repeat:no-repeat;
}

.icon-search1 {
    background-repeat:no-repeat;
    background-image: url('/content/icon/search.png');
    background-position:16px center;
    width:16px;
    height:16px;
    
}

.icon-preall {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/content/icon/preall.png');
    width: 10px;
    background-size:contain
}

.icon-pre {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/content/icon/pre.png');
    width: 10px;
    background-size: contain
}

.icon-next {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/content/icon/next.png');
    width: 10px;
    background-size: contain
}
.icon-skip {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/content/icon/skip.png');
    width: 10px;
    background-size: contain
}


.incon-cancel {
    background-image: url('/content/icon/cancel-icon.png');
    background-repeat:no-repeat;
    background-position:center;
    width:30px;
    height:30px;
    background-size:20px;
}

.image-face {
    background-image: url('/content/img/default-avatar.jpg');
    width:150px;
    height:150px;
    background-size:contain;
    background-repeat:no-repeat
}
.icon-save {
    background-image: url('/content/icon/save.png');
    background-repeat:no-repeat;
    background-size:16px;
    background-position:center;
    width:13px;
    height:13px;
      
}